<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>连接管理</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/i18n/grid.locale-cn.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqGrid.min.js}" charset="UTF-8"></script>
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/jquery-ui.theme.min.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/ui.jqgrid.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<style type="text/css">
    body {
        font-family: source-sans-pro;
        background-color: #f2f2f2;
        margin: 0px;
        font-style: normal;
        font-weight: 200;
        /*height: 100%;*/
    }
</style>

<div id="mainDiv" style="width: 100%; background-color: #FFFFFF; margin-left: auto; margin-right: auto;">
    <div>
        <table id="tusers"></table>
        <div id="pageuser"></div>
    </div>
    <div id="dialog-Connection" style="display: none" title="UserManager">
        <form id="connectForm">
            <input type="hidden" id="ConnectionId" value=""/>
            <!--<input type="hidden" id="dlgAction" value="add"/>-->
            <table>
                <tr>
                    <th>
                        连接名称：
                    </th>
                    <td>
                        <input type="text" class="textField" id="ConnectionName" name="ConnectionName"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        数据库类型：
                    </th>
                    <td>
                        <select id="DbTypeId" name="dbtypeid">
                            <option value="1">SQL Server</option>
                            <option value="2">Oracle</option>
                            <option value="3">MySQL</option>`
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        服务器地址：
                    </th>
                    <td>
                        <input type="text" class="textField" id="ServerIp" name="ServerIp"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        数据库名称：
                    </th>
                    <td>
                        <input type="text" class="textField" id="DbName" name="DbName"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        连接名：
                    </th>
                    <td>
                        <input type="text" class="textField" id="DbUser" name="DbUser"/>
                    </td>
                </tr>
                <tr id="trPwd">
                    <th>
                        连接密码：
                    </th>
                    <td>
                        <input type="password" placeholder="请输入密码" class="textField" id="UserPassword"
                               name="UserPassword"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        其他信息：
                    </th>
                    <td>
                        <input type="text" class="textField" id="AdditionalInfo" name="AdditionalInfo"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>

<script type="text/javascript">

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function resetDlg() {
        $("#connectForm").find('input[type=text],input[type=hidden],input[type=password]').each(function () {
            $(this).val('');
        });
    }

    function createUser() {
        var dlg = $("#dialog-Connection");
        var ConnectionName = $.trim(dlg.find("#ConnectionName").val());
        var DbTypeId = $.trim(dlg.find("#DbTypeId").val());
        var ServerIp = $.trim(dlg.find("#ServerIp").val());
        var DbName = $.trim(dlg.find("#DbName").val());
        var DbUser = $.trim(dlg.find("#DbUser").val());
        var UserPassword = $.trim(dlg.find("#UserPassword").val());
        var AdditionalInfo = $.trim(dlg.find("#AdditionalInfo").val());
        if (ConnectionName === '') {
            alert("请输入连接名称");
            return;
        }
        if (DbTypeId === '') {
            alert("请选择数据库类型");
            return;
        }
        if (ServerIp === '') {
            alert("请输入服务器地址");
            return;
        }
        if (DbName === '') {
            alert("请输入数据库名称");
            return;
        }
        if (DbUser === '') {
            alert("请输入连接名");
            return;
        }
        if (UserPassword === '') {
            alert("请输入连接密码");
            return;
        }
        const rowsall = $("#tusers").jqGrid('getRowData');
        for (let i = 0; i < rowsall.length; i++) {
            if (ConnectionName === rowsall[i].ConnectionName) {
                alert("连接名称已存在。");
                return;
            }
        }
        const ctime = new Date().Format('yyyy-MM-dd hh:mm:ss');
        const ConnectData = {
            'ConnectionName': ConnectionName,
            'DbTypeId': DbTypeId,
            'ServerIp': ServerIp,
            'DbName': DbName,
            'DbUser': DbUser,
            'UserPassword': UserPassword,
            'AdditionalInfo': AdditionalInfo,
            'CreateTime': ctime,
        };
        $.ajax({
            type: "POST",
            url: "/connect/createConnect",
            timeout: "3000",
            async: false,
            contentType: "application/json",
            data: JSON.stringify(ConnectData),
            error: function () {
                alert("连接添加失败。");
            },
            success: function (data, status) {  //data:servlet返回数据，status:ajax执行状态
                if (status === 'success') {
                    const jo = JSON.parse(data);
                    if (jo.Result === 1) {
                        $("#tusers").jqGrid('addRowData', jo.ConnectionId, jo, 'first');
                        var cid = jo.ConnectionId;
                        eb = "<a href='#' onclick = \"editEvent('" + cid + "');\">编辑</a>  ";
                        db = "<a href='#' onclick = \"deleteEvent('" + cid + "');\">删除</a>";
                        $("#tusers").jqGrid('setRowData', cid, {act: eb + db});
                        alert("连接添加成功。");
                        resetDlg();
                        $("#dialog-Connection").dialog("close");
                    } else {
                        alert("连接添加失败。");
                    }
                } else {
                    alert("连接添加失败。");
                }
            }
        });
    }


    $(document).ready(function () {
        $.datepicker.regional['zh-CN'] = {
            clearText: '清除',
            clearStatus: '清除已选日期',
            closeText: '关闭',
            closeStatus: '不改变当前选择',
            prevText: '< 上月',
            prevStatus: '显示上月',
            prevBigText: '<<',
            prevBigStatus: '显示上一年',
            nextText: '下月>',
            nextStatus: '显示下月',
            nextBigText: '>>',
            nextBigStatus: '显示下一年',
            currentText: '今天',
            currentStatus: '显示本月',
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthStatus: '选择月份',
            yearStatus: '选择年份',
            weekHeader: '周',
            weekStatus: '年内周次',
            dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
            dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
            dayStatus: '设置 DD 为一周起始',
            dateStatus: '选择 m月 d日, DD',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            initStatus: '请选择日期',
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        $(function () {
            $("#datepicker").datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true,
                showOn: "both",
                buttonImageOnly: true,
                buttonImage: "calendar.gif",
                buttonText: "",
                changeMonth: true,
                changeYear: true
            });
        });

        $("#tusers").jqGrid({       //Grid设置
            url: '/connect/getAllConnect',
            mtype: 'GET',
            datatype: 'json',
            loadonce: true,
            height: '700px',//高度，表格高度。可为数值、百分比或'auto'
            colNames: ['操作', '连接id', '连接名称', '数据库类型', '服务器IP', '数据库名', '连接名', '密码', '创建时间', '创建人', '其他信息'],
            colModel: [
                {name: 'act', width: 8, align: 'center', sortable: false, search: false},
                {name: 'ConnectionId', index: 'ConnectionId', key: true, hidden: true},
                {name: 'ConnectionName', index: 'ConnectionName', width: 8},
                {
                    name: 'DbTypeId',
                    index: 'DbTypeId',
                    width: 8,
                    editable: true,
                    formatter: 'select',
                    stype: 'select',
                    editoptions: {value: "1:SQL Server;2:Oracle;3:MySQL"}
                },
                {name: 'ServerIp', index: 'ServerIp', width: 10, editable: true},
                {name: 'DbName', index: 'DbName', width: 10, editable: true},
                {name: 'DbUser', width: 10, editable: true},
                {name: 'UserPassword', width: 10, editable: true},
                {
                    name: 'CreateTime',
                    index: 'CreateTime',
                    width: 10,
                    editable: true,
                    formatter: 'date',
                    formatoptions: {srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s'},
                    datefmt: 'yy-mm-dd H:i:s'
                },
                {name: 'UserId', index: 'UserId', width: 10, editable: true},
                {name: 'AdditionalInfo', index: 'AdditionalInfo', width: 10, editable: true}
            ],
            celledit: true,
            viewrecords: true,//是否在浏览导航栏显示记录总数
            rowNum: 10000,//每页显示记录数
            pager: '#pageuser',//分页、按钮所在的浏览导航栏
            sortname: 'UserName',//默认的排序列名
            pgbuttons: false,
            pgtext: false,
            //caption: "连接管理",//表名
            autowidth: true, //自动宽
            loadComplete: function () {
                var ids = $("#tusers").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    var cid = ids[i];
                    eb = "<a href='#' onclick = \"editEvent('" + cid + "');\">编辑</a>  ";
                    db = "<a href='#' onclick = \"deleteEvent('" + cid + "');\">删除</a>";
                    $("#tusers").jqGrid('setRowData', cid, {act: eb + db});
                }
            }
        });

        var usernav = $("#tusers").jqGrid('navGrid', '#pageuser', {     //控制底部导航栏
            add: false,
            del: false,
            edit: false,
            search: false,
            refresh: false,
            position: 'left',
            alerttext: "请选择连接"
        });

        $("#tusers").jqGrid('navButtonAdd', '#pageuser', {      //底部导航栏增加“创建连接”
            caption: "创建连接",
            title: "创建连接",
            //按钮图形
            buttonicon: "ui-icon-plusthick",
            onClickButton: function () {
                // $("#dlgAction").attr('value', 'add');
                // $("#loginname").attr('disabled', false);
                // $("#trPwd").show();
                // $("#trPwdc").show();
                $("#dialog-Connection").dialog({
                    modal: true,
                    title: '创建连接',
                    width: 400,
                    buttons: {
                        '保存': function () {
                            createUser();
                        },
                        '取消': function () {
                            $(this).dialog("close");
                            resetDlg();
                        }
                    }
                });
            }
        });
        usernav.navSeparatorAdd('#pageuser', {
            sepclass: "ui-separator",
            sepcontent: ""
        });
    });

    function editEvent(id) {
        // $("#loginname").attr('disabled', true);
        // $("#dlgAction").attr('value', 'edit');
        var connectData = $("#tusers").jqGrid('getRowData', id);
        $("#ConnectionId").val(connectData.ConnectionId);
        $("#ConnectionName").val(connectData.ConnectionName);
        $("#DbTypeId").val(connectData.DbTypeId);
        $("#ServerIp").val(connectData.ServerIp);
        $("#DbName").val(connectData.DbName);
        $("#DbUser").val(connectData.DbUser);
        $("#UserPassword").val(connectData.UserPassword);
        $("#AdditionalInfo").val(connectData.AdditionalInfo);
        // $("#userid").attr('value', id);
        $("#dialog-Connection").dialog({
            modal: true,
            title: '编辑连接',
            width: 400,
            buttons: {
                确定: function () {
                    updateUser(id);
                },
                取消: function () {
                    $(this).dialog("close");
                    resetDlg();
                }
            }
        });
    }

    function updateUser(id) {
        const dlg = $("#dialog-Connection");
        const conid = $("#ConnectionId").val();
        const connectionName = $.trim(dlg.find("#ConnectionName").val());
        const DbTypeId = $.trim(dlg.find("#DbTypeId").val());
        const ServerIp = $.trim(dlg.find("#ServerIp").val());
        const DbName = $.trim(dlg.find("#DbName").val());
        const DbUser = $.trim(dlg.find("#DbUser").val());
        const UserPassword = $.trim(dlg.find("#UserPassword").val());
        const AdditionalInfo = $.trim(dlg.find("#AdditionalInfo").val());
        if (connectionName === '') {
            alert("请输入连接名称");
            return;
        }
        var conData = {
            'conid': conid,
            'connectionName': connectionName,
            'DbTypeId': DbTypeId,
            'ServerIp': ServerIp,
            'DbName': DbName,
            'DbUser': DbUser,
            'UserPassword': UserPassword,
            'AdditionalInfo': AdditionalInfo,
        };
        $.ajax({
            type: "POST",
            url: "/connect/editConnect",
            timeout: "3000",
            async: false,
            contentType: "application/json",
            data: JSON.stringify(conData),
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("连接修改失败。");
            },
            success: function (data, status) {  //data:servlet返回数据，status:ajax执行状态
                if (status == 'success') {
                    if (data == "1") {
                        $("#tusers").jqGrid('setRowData', id, {
                            'ConnectionName': connectionName,
                            'DbTypeId': DbTypeId,
                            'ServerIp': ServerIp,
                            'DbName': DbName,
                            'DbUser': DbUser,
                            'UserPassword': UserPassword,
                            'AdditionalInfo': AdditionalInfo,});
                        alert("连接修改成功。");
                        resetDlg();
                        $("#dialog-Connection").dialog("close");
                    } else {
                        alert("连接修改失败。");
                    }
                } else {
                    alert("连接修改失败。");
                }
            }
        });
    }

    function deleteEvent(id) {
        var ret = $("#tusers").jqGrid('getRowData', id);
        if (confirm("确认删除\"" + ret.ConnectionName + "\"?")) {
            $.ajax({
                url: "/connect/deleteConnectByConnectId",
                type: "POST",
                timeout: "3000",
                async: false,
                contentType: "application/json",
                data: JSON.stringify({"ConnectionId": ret.ConnectionId}),
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("连接删除失败。");
                },
                success: function (data, status) {  //data:servlet返回数据，status:ajax执行状态
                    if (status == 'success') {
                        if (data == "1") {
                            $("#tusers").jqGrid('delRowData', id);
                            alert("连接删除成功。");
                        } else {
                            alert("连接删除失败。");
                        }
                    } else {
                        alert("连接删除失败。");
                    }
                }
            });
        }
    }
</script>
</body>
</html>