/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left!important;}
.f-fr{float:right!important;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-sbl{border-left: 1px solid #e3e3e3;}
.f-sbr{border-right: 1px solid #e3e3e3;}


/*字体色*/
/*白色*/
.cWh{color:#fff;}
/*灰色*/
.cBla1{color:#666;}
.cBla2{color:#ababab;}
.cBla3{color:#a5b2c1;}
/*蓝色*/
.cBlu1{color:#3ccdff;}
.cBlu2{color:#7392a5;}
.cBlu3{color:#0477e7;}
.cBlu4{color:#008fd8;}
/*红色*/
.cRed1{color:#ff4446;}
.cRed2{color:#b91616;}
.cRed3{color:#d93118;}
/*绿色*/
.cGre1{color:#77ec30;}
.cGre2{color:#66b133;}
/*橙色*/
.cOrg1{color:#ffd324;}
/*字号*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f32{font-size:32px;}
.f34{font-size:34px;}
.f36{font-size:36px;}
.f38{font-size:38px;}
.f40{font-size:40px;}
/*横向留白*/
.blank_3{height:3px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_5{height:5px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_6{height:6px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_7{height:7px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_8{height:8px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_10{height:10px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_15{height:15px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_20{height:20px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_30{height:30px;line-height:0;font-size:0;clear:both;overflow:hidden;}
.blank_40{height:40px;line-height:0;font-size:0;clear:both;overflow:hidden;}
/*背景色*/
.white-bg{background-color:#fff;}
.gray-bg{background-color:#f1f1f3;}
.bgGra1{background-color:#f6f6f6;}
.bgGra2{background-color:#ebedef;}
.bgRed1{background-color:#dc3f1a;}
.bgBlue1{background-color: #eaf2fc;}
/*内边距*/
.pd-a0{padding:0;}
.pd-a1{padding:5px;}
.pd-a2{padding:10px;}
.pd-a3{padding:15px;}
.pd-a4{padding:20px;}
.pd-t0{padding-top:0;}
.pd-t1{padding-top:5px;}
.pd-t2{padding-top:10px;}
.pd-t3{padding-top:15px;}
.pd-t4{padding-top:20px;}
.pd-b0{padding-bottom:0;}
.pd-b1{padding-bottom:5px;}
.pd-b2{padding-bottom:10px;}
.pd-b3{padding-bottom:15px;}
.pd-b4{padding-bottom:20px;}
.pd-l0{padding-left:0;}
.pd-l1{padding-left:5px;}
.pd-l2{padding-left:10px;}
.pd-l3{padding-left:15px;}
.pd-l4{padding-left:20px;}
.pd-r0{padding-right:0;}
.pd-r1{padding-right:5px;}
.pd-r2{padding-right:10px;}
.pd-r3{padding-right:15px;}
.pd-r4{padding-right:20px;}
/*外边距*/
.mg-a0{margin:0;}
.mg-a1{margin:5px;}
.mg-a2{margin:10px;}
.mg-a3{margin:15px;}
.mg-a4{margin:20px;}
.mg-t0{margin-top:0;}
.mg-t1{margin-top:5px;}
.mg-t2{margin-top:10px;}
.mg-t3{margin-top:15px;}
.mg-t4{margin-top:20px;}
.mg-t5{margin-top:25px;}
.mg-t6{margin-top:30px;}
.mg-b0{margin-bottom:0;}
.mg-b1{margin-bottom:5px;}
.mg-b2{margin-bottom:10px;}
.mg-b3{margin-bottom:15px;}
.mg-b4{margin-bottom:20px;}
.mg-b5{margin-bottom:25px;}
.mg-b6{margin-bottom:30px;}
.mg-l0{margin-left:0;}
.mg-l1{margin-left:5px;}
.mg-l2{margin-left:10px;}
.mg-l3{margin-left:15px;}
.mg-l4{margin-left:20px;}
.mg-r0{margin-right:0;}
.mg-r1{margin-right:5px;}
.mg-r2{margin-right:10px;}
.mg-r3{margin-right:15px;}
.mg-r4{margin-right:20px;}
.mg-r5{margin-right:25px;}
.mg-r6{margin-right:30px;}
/*行高*/
.lineHei1{line-height:24px;}
.lineHei2{line-height:28px;}
.lineHei3{line-height:32px;}
/*阴影*/
.shadow1{-moz-box-shadow:0px 10px 10px #ebebeb;-webkit-box-shadow:0px 10px 10px #ebebeb;box-shadow:0px 10px 10px #ebebeb;border:1px solid #f1f1f1;border-top:0;}

/*边框*/
.bd-a0{border:0!important;}
.bd-a1{border:1px solid #e4e4e4;}
.bd-t0{border-top:0!important;}
.bd-t1{border-top:1px solid #e4e4e4;}
.bd-b0{border-bottom:0!important;}
.bd-b1{border-bottom:1px solid #e4e4e4;}
.bd-l0{border-left:0!important;}
.bd-l1{border-left:1px solid #e4e4e4;}
.bd-r0{border-right:0!important;}
.bd-r1{border-right:1px dashed #d9d9d9;}

.visible{height: 100%; vertical-align: middle; width: 0; display: inline-block;}

.img-responsive{display: block; height: auto; max-width: 100%;}